* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 400px;
  margin: auto;
  margin-top: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  outline: none;
  border: none;
}

.dark-bg {
  background-color: #333;
  color: #ddd;
}
.light-bg {
  background-color: #ddd;
}

.btn button {
  padding: 0.5rem;
  opacity: 1;
}
.btn button:hover {
  opacity: 0.9;
}

nav {
  text-align: center;

  margin-bottom: 0rem;
  padding: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
nav ul {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  padding: 0.2rem;
  text-align: center;
}
.book-list ul li {
  padding: 0.3rem;

  margin: 0.2rem;
  text-align: center;
  border-radius: 0.2rem;
}

.book-list {
  padding: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
